@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap');

:root {
  --font-primary: 'Ysabeau Office', monospace;
}


/* Mermaid: Style Correction Override */
.mermaid svg {
  max-width: 100%;
  visibility: visible;
  height: auto;
}


svg[id^="m"][width][height][viewBox] {
  max-width: 95%;
  max-height: 95%;
}

div.mermaid {
  margin-left: 0 !important;
  text-align: center;
  resize: both;
  overflow: auto;
  margin-bottom: 2px;
  position: relative;
  max-height: 500px;
  max-width: 100%;
}

div.mermaid::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
}

body * {
  font-family: var(--font-primary) !important;

}

table * {
  white-space: nowrap !important;

}

img:hover, img:active, *:hover > img {
  z-index: 9999999999;
  transition: all 1.5s;
  transition-delay: 0.25s;
  cursor: pointer;
  transform: scale(1.3), translateX(2em);
}


img::before, img::after {
  content: "Mobile-zoom";
}







/* ----- inline title ----- */
.inline-title {
  font-size: 2.3em;
  border-bottom: 1px solid var(--background-modifier-border);
  padding: 0px;
  font-family: var(--h1-font);
  line-height: 1.3;
}

/* ----- headings ----- */
body{
  --h1-size: 1.7em;
  --h2-size: 1.25em;
  --h3-size: 1.17em;
  --h4-size: 1.12em;
  --h5-size: 1em;
  --h6-size: 0.99em;
  --h1-weight: 500;
  --h2-weight: bold;
  --h3-weight: bold;
  --h4-weight: bold;
  --h5-weight: bold;
  --h6-weight: bold;
  font-family: var(--font-primary) !important;


}

/* header 1 */
.markdown-reading-view h1, .embed-title, h1 {
  margin-top: 1em;
  padding: 0;
  margin-bottom: 0.25em;
  border-bottom: 1px solid var(--background-modifier-border);
  line-height: 1.3;
}
.HyperMD-header-1 {
  border-bottom: 1px solid var(--background-modifier-border);
}
.cm-header-1 {
  width: fit-content;
}
.markdown-reading-view .markdown-rendered h1 {
  overflow: hidden;
}


/* special h6 class */
.special-h6 h6, .special-h6 .HyperMD-header-6  {
  background-color: var(--h6-background);
  text-align: center;
  margin-bottom: 0.2;
  padding:0.2em;
}
.callout h6, .callout .HyperMD-header-6,
.callout h5, .callout .HyperMD-header-5
.callout h4, .callout .HyperMD-header-4
.callout h3, .callout .HyperMD-header-3
.callout h2, .callout .HyperMD-header-2
.callout h1, .callout .HyperMD-header-1  {
  margin: 0px !important;
  padding: 0px !important;
}
/* ----- Links and Tags ----- */
body {
--link-unresolved-opacity: 0.85;
--link-decoration: none;
--link-external-decoration: none;

--tag-background: transparent;
--tag-background-hover: transparent;
--tag-padding-x: 0px;
--tag-padding-y: 0px;
--tag-radius: 0px;
--tag-color: var(--link-color);
--tag-color-hover: var(--link-color-hover);
--tag-decoration-hover: underline;
}


a.tag, .editor .cl-hashtag {
  background-color: transparent;
  color: var(--link-color);
  padding:0px;
  margin: 0px;
}

.external-link {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 12 12'%3e%3ctitle%3e external link %3c/title%3e%3cpath fill='%2336c' d='M6 1h5v5L8.86 3.85 4.7 8 4 7.3l4.15-4.16L6 1ZM2 3h2v1H2v6h6V8h1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z'/%3e%3c/svg%3e");
  background-position-y: 50%;
}

/* footnotes */
sup.footnote-ref {
  color: var(--link-color);
  font-size: 0.74em;
}

/* ------ Code ------ */
body {
  --code-normal: var(--text-normal);
  --code-background: var(--background-secondary-alt);
}
.markdown-rendered code {
  border: 1px solid var(--background-modifier-hover);
  border-radius: 2px;
  padding: 1px 4px;
  
}

/* ----- Lists ------ */
body {
  --list-marker-color: var(--text-normal);
  --list-bullet-size: 0.35em;
}


/* -------- Embeds ------ */
body {
  --embed-border-left: none;
  --embed-padding: 0px;
}

.embed-title {
  font-size: var(--h1-size);
  font-family: vaR(--h1-font);
  font-weight: var(--h1-weight);
  color: var(--link-color);
}

.embed-title:hover {
  color: var(--link-color-hover);
}



/* ------ Frontmatter ------ */
body {
  --infobox-width: 25%;
  --infobox-margin: 1em 0px 1em 1em;
  --infobox-margin-left: 1em 1em 1em 0px;
}
/* hide frontmatter option */
.hide-frontmatter .frontmatter-container {
  display: none;
}

/* look when collapsed */
body:not(.frontmatter-blockquote) .frontmatter-container.is-collapsed .frontmatter-container-header {
  color: var(--text-normal) !important;
  font-size: var(--font-smaller);
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: fit-content;
}
body:not(.frontmatter-blockquote) .frontmatter-container:not(.is-collapsed) {
  width: var(--infobox-width);
}


/* make Metadata text disappear when not collapsed */
body:not(.frontmatter-blockquote) .frontmatter-container:not(.is-collapsed) .frontmatter-container-header {
  color: transparent;
  font-size: var(--font-smaller);
  display: flex;
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 0px;
}


/* make container look like wikipedia infobox */
body:not(.frontmatter-blockquote) .frontmatter-container {
  background-color: var(--background-secondary-alt);
  padding: 0.2em;
  line-height: 1.5em;
  border: 1px solid var(--background-modifier-border);
  float: var(--infobox-position);
  clear: var(--infobox-position);
  margin: var(--infobox-margin);
}

/* style labels */
body:not(.frontmatter-blockquote) .frontmatter-container .frontmatter-section-label,
 .callout-content .dataview.inline-field-key {
    font-size: var(--h6-size);
    color: var(--text-normal);
    font-weight: var(--font-bold);
    background-color: var(--h6-background);
    text-align: center;
    margin-bottom: 0.2em;
    padding: 0px;
   display: block;
}
/* style section data */
body:not(.frontmatter-blockquote) .frontmatter-container .frontmatter-section-data {
  font-size: var(--font-text-size);
  align-items: center;
  text-align: center;
  display: block;

}

table {
  min-width: 100%;
  line-break: auto;
}
/* style label-data pairs */
body:not(.frontmatter-blockquote) .frontmatter-container:not(.is-collapsed) .frontmatter-section {
  text-align: center;
  margin-bottom: 0.5em;
  display: block;
}


/* --- Blockquote Style Frontmatter --- */
.frontmatter-blockquote .frontmatter-container.is-collapsed .frontmatter-container-header {
  width: fit-content;
  color: var(--text-faint);
}
.frontmatter-blockquote .frontmatter-container .frontmatter-container-header {
  border-bottom: none;
  padding: 0.2em 0.4em;
}
.frontmatter-blockquote .frontmatter-container .frontmatter-section-label {
  padding-right: 0.5em;
  padding-left: 2em;
}
.frontmatter-blockquote .frontmatter-container .frontmatter-section-label:after {
  content: ":";
}


.frontmatter-blockquote .frontmatter-container .frontmatter-section > * {
  font-size: var(--font-ui-medium) !important;
  color: var(--text-normal);
  font-style: italic;

}



/* ------ Dividers ------- */
 hr, .markdown-rendered hr {
  color: var(--background-modifier-border);
  border-width: 1px;
  opacity: 0.5;
  overflow: hidden;
  margin: 0;
}

/* ------ Tables ------ */

body {
  --table-header-background: var(--background-modifier-hover);
  --table-header-background-hover: var(--background-modifier-hover);
  --table-header-size: 0.9em;
  --table-border-width: 0.06em;
}

.markdown-rendered table {
  margin: 1em 0;
  background-color: var(--background-secondary-alt);
  max-width: 100%;
  word-break: keep-all;
}


/* dataview tables */

.table-view-table > thead > tr > th {
  font-weight: 700;
  border: solid var(--table-border-width) var(--background-modifier-border);
  font-size: 0.9em;
  padding: 0.2em 0.1em;
}
.table-view-table > tbody > tr > td {
  text-align: left;
  border: var(--table-border-width) solid var(--background-modifier-border);
  font-weight: 400;
  max-width: 100%;
  width: 100;
}

/* table header */
.markdown-rendered table thead tr th {
  padding: 0.8em 1em;
  word-break: keep-all;
  text-align: center;
}


/* ------- Callouts ------- */
body {
--infobox-position: right;
}

/* Style Info Callouts as infoboxes */
body:not(.info-normal) .callout[data-callout="info"]:not([data-callout-metadata~="normal"]), .callout[data-callout-metadata~="info"] {
  float: var(--infobox-position);
  clear: var(--infobox-position);
  width: var(--infobox-width);
  margin: var(--infobox-margin);
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-modifier-border);
}

/* callout alts */
 .callout[data-callout-metadata~="right"] {
  float: right;
  clear: right;
  width: var(--infobox-width);
  margin: var(--infobox-margin);
}
.callout[data-callout-metadata~="left"] {
  float: left;
  clear: left;
  width: var(--infobox-width);
  margin: var(--infobox-margin-left);
}
body:not(.info-normal) .callout[data-callout="info"]:not([data-callout-metadata~="normal"]) .callout-title {
  background-color: var(--h6-background);
  border: none;
  padding:0.2em;
}

/* callout classes */
.hide-callout-title .callout[data-callout="info"] .callout-content p:first-of-type{
margin: 0px; /* close gaps in infobox when info callout title is hidden */
}
.hide-callout-title .callout[data-callout="info"] .callout-title {
  display: none;
}

/* make image full size inside a callout */
.markdown-rendered .callout-content img, .cm-contentContainer .callout-content img {
  float: none;
  margin: 0px;
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
}
.callout {
  overflow: hidden;
  border: 1px solid rgba(var(--callout-color), 30%);
  background-color: rgba(var(--callout-color), 10%);
  margin: 1em;
  color: var(--text-normal);
  padding: 0.2em;
  display: flexbox;
  width: flex;
  float: none;
  min-width: 100%;
  clear: none;
  line-height: 1.2em;
}


.callout-fold svg {
  color: var(--text-normal);
}

.callout:not([data-callout="info"]),
.info-normal .callout[data-callout="info"] {
  --h6-background: rgba(var(--callout-color), 20%); /* make header 6 match callout color */
}


.callout-title,
.callout:not([data-callout="info"]) h1,
.callout:not([data-callout="info"]) h2,
.callout:not([data-callout="info"]) h3,
.callout:not([data-callout="info"]) h4,
.callout:not([data-callout="info"]) h5,
.callout:not([data-callout="info"]) h6 {
  padding:0.2em 0.4em;
  font-size: var(--h5-size);
  border: 1px solid var(--background-modifier-hover);
  background-color: rgba(var(--callout-color), 20%);
  text-align: center;
}
.callout-title-inner {
  font-weight: var(--bold-weight);
  color: var(--text-normal);
  margin-left: auto;
  margin-right: auto;
}
.callout-icon .svg-icon {
  color: var(--text-normal);
  margin-left: 2px;
}

/* hide callout icons option */
.hide-callout-icons .callout-icon .svg-icon {
  display: none;
}


/* -------- Blockquotes ------- */
.markdown-rendered blockquote {
  padding-left: 1.6em;
  overflow: hidden;
  border-left: none;
  margin: 1em 0px;
  font-style: italic;
}


/* ------ Images ------ */
body {
  --image-width: var(--infobox-width);
  --img-max-width: 65%;
}



/* float to the right */
.markdown-rendered img {
  float: right;
  margin: var(--infobox-margin);
  width: var(--image-width);
  clear: right;
  background-color: var(--background-secondary-alt);
  padding: 5px;
  border: 1px var(--background-modifier-border) solid;
  max-width: var(--img-max-width);
}

/* don't float images inside community themes */
.community-item-screenshot {
  width: 100% !important;
}
.community-modal-readme img {
  float: none;
  clear: none;
  width:unset;
}

.cm-contentContainer img {
  float: none !important;
  clear: none !important;
}


/* alternate between float position */
.markdown-rendered img ~  img {
  float: left;
  clear: left;
  margin: var(--infobox-margin-left);
}


.no-float .markdown-rendered img,
.no-float img ~ img {
float: none;
clear: none;
width: revert;
margin: 1em 0px;
}

.float-left .markdown-rendered img {
  float: left;
  clear: left;
  margin: var(--infobox-margin-left);
}
.float-left .markdown-rendered img ~ img {
  float: right;
  clear: right;
  margin: var(--infobox-margin);
}

.float-center .markdown-rendered img,
.float-center .markdown-rendered img ~ img{
  float: none;
  clear: none;
  display: block;
  width: revert;
  margin: 1em auto;
}

/* image alts */
.markdown-rendered img[alt*=right] {
  float: right !important;
  clear: right !important;
  margin: var(--infobox-margin) !important;
  width: var(--image-width) !important;
}
.markdown-rendered img[alt*=left] {
  float: left !important;
  clear: left !important;
  margin: var(--infobox-margin-left) !important;
  width: var(--image-width) !important;
}
.markdown-rendered img[alt*=normal],
.markdown-rendered img[alt*=no-float] {
  float: none !important;
  clear: none !important;
  margin: 1em 0px !important;
  width: revert !important;
} 
.markdown-rendered img[alt*=center] {
  float: none !important;
  clear: all !important;
  margin: 1em auto !important;
  display: block !important;
  width: revert !important;
}

/* ------- Inline Dataview ------- */

/* default inline field styling */
.dataview.inline-field-key {
  font-family: var(--font-default);
  font-weight: var(--font-bold);
  background-color: transparent;
  color: var(--text-nav-selected);
}
.dataview.inline-field-key::after {
  content: ':';
}
.dataview.inline-field-value {
  font-family: sans-serif;
  background-color: transparent;
  padding: 0px;
  
}
.dataview.inline-field-standalone-value {
  font-family: inherit;
  background-color: transparent;
  color: var(--text-nav-selected);
  margin: 0px;
  padding: 0px;
}


/* inline fields inside a callout */
.callout-content .dataview.inline-field-key {
  font-family: inherit;
  font-size: var(--h6-size);
  line-height: 1.6em;
  font-weight: 600;
  background-color: var(--h6-background);
  text-align: center;
  display: block;
}

/* get rid of ':' usually present after inline key when inside a callout */
.callout-content .dataview.inline-field-key::after {
  display: none;
}

/* center inline field value inside callout */
.callout-content .dataview.inline-field-value {
  background-color: transparent;
  padding: 0px;
  display: block;
  text-align: center;
}


/* ------------ Layout ------------- */

/* ---- Scrollbars ---- */
body {
--scrollbar-thumb-bg: transparent;
}

body:not(.native-scrollbars) ::-webkit-scrollbar {
width: 10px;
}



/* border radiuses/radii(?) */
body {
  --radius-s: 0px;
  --radius-m: 0px;
  --radius-l: 0px;
  --radius-xl: 0px;
  --input-radius: 0px;
}

/* make page full width */
body {
    --file-line-width: 100%;
  }
  
/* ----- Tabs ------ */
body {
  --tab-radius-active: 0px 0px 0 0;
  --tab-divider-color: var(--tab-outline-color);
  --tab-curve: 0px; 
}
.workspace-tab-header-container, .workspace-ribbon.mod-left:before {
  background-image: var(--tab-gradient);
  background-position: left bottom;
  background-repeat: repeat-x;
}



/* ------- Sidebar ------ */
body {
--vault-name-font-size: 1.4em;
--vault-name-font-weight: 500;
--indentation-guide-width: 0px;
--nav-item-children-padding-left: 0px;
}
/* get rid of sidebar borders only */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle, .workspace-split.mod-left-split > .workspace-leaf-resize-handle {
  border-right-style: solid;
  border-right-width: 0px;
}
.workspace-ribbon {
  border-right: none;
}

/* Vault Name */
.nav-folder.mod-root > .nav-folder-title {
  font-variant: small-caps;
  font-family: inherit;
  margin-bottom: 0.8em;
}

.nav-folder.mod-root > .nav-folder-title::before {
  content: "";
    display: block;
    background: center / contain no-repeat var(--vault-img);
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

.no-vault-img .nav-folder.mod-root > .nav-folder-title::before {
  display: none;
}

/* make sidebar background color match the main pane */
.workspace-leaf-content[data-type="file-explorer"] {
  background-color: var(--background-primary) !important;
}

/* ----- Folders ----- */

/* folder background color */
.nav-folder-children {
  background-color: var(--background-secondary-alt);
  padding: 4px;
}

/* ----- Files ----- */

.nav-file-title-content {
  color: var(--link-color);
}
.nav-file-title-content:hover {
  color: var(--link-color-hover);
}
.nav-file-title:hover {
  background-color: transparent !important;
}

/* collapse indicator */
body {
  --nav-collapse-icon-color: var(--text-muted);
  --nav-collapse-icon-color-collapsed: var(--text-muted);
}
.collapse-icon svg.svg-icon {
  stroke-width: 2.5px;
}

/* hide nav buttons until hover */
.nav-header {
  transition: height 0.15s, opacity 0.1s;
}
.nav-header:not(:hover) {
  height: 5px;
  opacity: 0;
}
.nav-header:hover {
  opacity: 1;
}
.nav-buttons-container:hover {
  opacity: 1;
}
/* ----- Ribbon ----- */

/* default styles */
body {
  --ribbon-background: var(--background-primary);
  --ribbon-width: 35px;
  --icon-size: var(--icon-s);
  --icon-l: 16.5px;
}

/* show on hover (Style Settings) */
.ribbon-hover .workspace-ribbon.mod-left.is-collapsed:not(:hover) {
  opacity: 0;
  max-width: 0.1px;
  min-width: 0px;
  padding: 0px;
}
.ribbon-hover .workspace-ribbon.mod-left, .workspace-ribbon.mod-left.is-collapsed {
  transition: 0.25s;
}

/* Hide (Style Settings) */
.ribbon-hide .workspace-ribbon.mod-left.is-collapsed {
  display: none;
}

/* default */
.ribbon-default .workspace-ribbon.mod-left.is-collapsed:not(:hover) {
  opacity: 1;
  max-width: unset;
  min-width: unset;
}



/* ------------ Colors -------------- */


/* ----- Default Theme ----- */

/* Default Accent Color */
.theme-light:not(.custom-accent),
.theme-dark:not(.custom-accent) {
  --accent-h: 215 !important;
  --accent-s: 79% !important;
  --accent-l: 50% !important;
}

/* Primary Colors */
.theme-light, .theme-dark {
  --color-red-rgb: 232, 51,51;
  --color-red: rgb(232, 41, 41);
  --color-cyan-rgb: 0, 194, 97;
  --color-cyan: rgb(0, 163, 81);
  --color-orange-rgb: 230, 111, 0;
  --color-orange: rgb(230, 111, 0);
  --color-yellow-rgb: 204, 204, 0;
  --color-yellow: rgb(163, 163, 0);
  --color-green-rgb: 97, 194, 0;
  --color-green: rgb(82, 163, 0);
  --color-blue-rgb: 0, 105, 224;
  --color-blue: rgb(0, 105, 224);
  --color-purple-rgb: 81, 0, 194;
  --color-purple: rgb(140, 63, 247);
  --color-pink-rgb: 194, 0, 81;
  --color-pink: rgb(194, 0, 81);
  --callout-quote: 110, 110, 110;

}

/* Dark Theme */
.theme-dark { 
  /* Tab colors */
  --tab-outline-color: hsl(calc(var(--accent-h) - 10), var(--accent-s), var(--accent-l), 55%);
  --tab-gradient: linear-gradient(to top,var(--color-accent-2) 0px,  var(--color-accent-3) 0px, var(--background-primary) 100%);

  /* Accents */
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.5%));
  --color-accent-2: hsl(calc(var(--accent-h) - 2), var(--accent-s), calc(var(--accent-l) - 4%));
  --color-accent-3: hsla(calc(var(--accent-h) - 10), var(--accent-s), var(--accent-l), 20%);

  /* Main Colors */
  --color-base-00: #1e1f21;
  --color-base-10: #242629;
  --color-base-20: #27282b;
  --color-base-25: #2f3135;
  --color-base-30: #35383d;
  --color-base-35: #313539;
  --color-base-40: rgb(50, 52, 60);
  --color-base-50: rgb(142, 148, 157);
  --color-base-60: rgb(179, 181, 193);
  --color-base-70: #d0d4d9;
  --h6-background: hsla(var(--accent-h), 35%, calc(var(--accent-l) + 10%), 15%);
  --color-base-100: #d8dce3;
  --background-secondary-alt: var(--color-base-10);
  --background-modifier-border: #dae1ea31;

  /* links */
  --link-color: hsl(calc(var(--accent-h) + 5), var(--accent-s), calc(var(--accent-l) + 15%));
--link-unresolved-color: hsl(calc(var(--accent-h) - 5), var(--accent-s), calc(var(--accent-l) + 15%));
--link-external-color: hsl(calc(var(--accent-h) + 20), var(--accent-s), calc(var(--accent-l) + 20%));
--link-external-color-hover: hsl(calc(var(--accent-h) + 10), var(--accent-s), calc(var(--accent-l) + 3%));
}

/* Light Theme */
.theme-light {

  /* links */
  --link-color: hsl(calc(var(--accent-h) + 5), var(--accent-s), calc(var(--accent-l) - 5%));
  --link-unresolved-color: var(--color-accent-1);
  --link-external-color: hsl(calc(var(--accent-h) + 20), var(--accent-s), calc(var(--accent-l) - 5%));
  --link-external-color-hover: hsl(calc(var(--accent-h) + 10), var(--accent-s), calc(var(--accent-l) + 3%));

    /* tabs */
  --tab-outline-color: hsl(calc(var(--accent-h) - 10), var(--accent-s), var(--accent-l), 40%);
  --tab-gradient: linear-gradient(to top,var(--color-accent-2) 0px,  var(--color-accent-3) 0px, var(--background-primary) 100%);

  /* accent colors */
  --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 2.5%));
  --color-accent-2: hsl(calc(var(--accent-h) - 2), var(--accent-s), calc(var(--accent-l) + 10%));
  --color-accent-3: hsl(calc(var(--accent-h) - 10), var(--accent-s), var(--accent-l), 20%);

  /* Main colors */
  --h6-background: rgb(235,235,210);
  --background-modifier-border: #a2a9b1;
  --color-base-00: #ffffff;
  --color-base-05: #f8f9fa;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #989898;
  --color-base-60: #707070;
  --color-base-70: #5a5a5a;
  --color-base-100: #222222;
}

/* ------------ Plug-Ins ---------- */

/* ------- Page Gallery ------- */

.page-gallery__tile {
  border: 1px var(--background-modifier-border) solid;
  padding: 2px;
  background-color: var(--background-secondary-alt);
  padding: 0px;
  margin: 0px;
}
.page-gallery__tiles {
  gap: 4px;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  justify-content:flex-start;
  flex-grow: 1;
}
.page-gallery__groups {
  gap: 4px;
  width: 100%;
  padding: 0px;
}
.page-gallery__fallback, .page-gallery__fallback:hover {
  border-radius: 0px;
  box-shadow: none;
  opacity: 1;
  height: flex;
  background: var(--background-modifier-hover) !important;
}
.page-gallery__image, .page-gallery__image:hover {
  border-radius: 0px;
  box-shadow: none;
  opacity: 1;
}
.page-gallery__field:first-child {
  background-color: var(--h6-background);
  text-align: center;
  margin-bottom: 0.2em;
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
}
.page-gallery__fields {
  text-shadow: none;
  margin: 0px;
  padding: 4px;
  word-wrap: break-word;
  white-space: initial;
}
.page-gallery__field {
  font-size: 0.9em;
}

/* buttons */
.page-gallery__views-header-item {
  font-size: var(--font-smaller);
  color: var(--link-color);
  border-radius: 0px;
  border-bottom: var(--background-modifier-border-hover) solid 1px;
  margin: 0px 0px 1em 0px;
  padding: 0px 0.5em;
}
.page-gallery__views-header-item.selected {
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid var(--text-normal);
  color: var(--text-normal);
}

.page-gallery__views-header {
  justify-content: center;
  margin-top: 1em;
}


